html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background: url(./images/hey3.jpg) no-repeat;
  background-position: bottom;
  overflow: hidden;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
form {
  padding: 20px;
  margin-top: 80px;
}
.project-list {
  margin-top: 20px;
  height: 90vh;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.eh {
  color: black;
}
#google {
  font-family: "Poppins", sans-serif;
}
button {
  margin-left: 10px;
}
